<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'workers')}">
<head>
    <meta charset="UTF-8">
    <title>List of Placeholders</title>
</head>
<body>
<h2 th:text="'List of Owners'">Owner List</h2>
<table id ="owners" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 200px;">First Name</th>
        <th style="width: 120px;">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.firstName}">Joe</td>
        <td th:text="${user.lastName}">Buck</td>
        <td th:text="${user.coworkers}">Coworkers</td>
    </tr>
    </tbody>
</table>

</body>
</html>