<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="Worker" type="com.timezone.demo.model.Worker"*/-->
<h2>Workers</h2>

<table class="glyphicon glyphicon-calendar">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="worker : ${workers}">
        <td th:text="${worker.id}"></td>
        <td th:text="${worker.getFirstName()}"></td>
        <td th:text="${worker.getLastName()}"></td>
        <td th:text="${worker.getAddress()}"></td>
        <td th:text="${worker.getClients()}"></td>
    </tr>
</table>
</body>
</html>