<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="User" type="com.timezone.demo.model.User"*/-->
<h2>My Details</h2>

<table class="glyphicon glyphicon-calendar">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
      <!--  <td th:text="${worker.getFirstName()}"></td>
        <td th:text="${worker.getLastName()}"></td>
        <td th:text="${worker.getAddress()}"></td>-->
    </tr>

</table>
<table class="glyphicon glyphicon-calendar">
    <tr>
        <th>Name</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getFirstName()}"></td>
    </tr>
</table>



</body>
</html>