<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'worker')}">

<body>
<!--/*thymesBar id="Worker" type="timezone.demo.model.Worker"*/-->
<h2>Worker Information</h2>

<table class="table table-striped" th:object="${worker}">
    <tr>
        <th>Name</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
    </tr>
    <tr>
        <th>Address</th>
        <td th:text="*{address}" /></td>
    </tr>
    <tr>
        <th>City</th>
        <td th:text="*{city}" /></td>
    </tr>
    <tr>
        <th>Telephone</th>
        <td th:text="*{telephone}" /></td>
    </tr>
    <tr>
        <th>Coworkers</th>
        <tr th:each="coworker:${worker.coworkers}">
              <td th:text="${coworker.fName}"> /td>
    </tr>
    <tr>
        <th>Clients</th>
          <!--<td th:text="*{clients}" /></td>-->
        <tr th:each="client: ${worker.clients}">
                <td th:text="${client.companyName}"></td>
        </tr>
    </tr>

</table>

<a th:href="@{{id}/edit(id=${worker.id})}" class="btn btn-default">Edit
    My Details</a>
<a th:href="@{{id}/coworkers/new(id=${worker.id})}" class="btn btn-default">Add
    New Coworker</a>
<a th:href="@{{id}/clients/new(id=${worker.id})}" class="btn btn-default">Add
    New Client</a>
<br />
<br />
<br />

<!--<table class="table table-striped">

        <td valign="top">
           <table class="table-condensed">
                <thead>
                <tr>
                    <th>Visit Date</th>
                    <th>Description</th>
                </tr>
                </thead>

                </tr>
                <tr>
                    <td><a
                    &lt;!&ndash;        th:href="@{{workerId}/coworkers/{coworkerId}/edit(workerId=${worker.id},coworkerId=${coworker.id})}">Edit
                        Coworker</a></td>&ndash;&gt;
                    &lt;!&ndash;<td><a
                            th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}">Add
                        Visit</a></td>&ndash;&gt;
                </tr>
            </table>
        </td>
    </tr>

</table>-->

</body>

</html>
