<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'workers')}">

<body>

<h2>Your Information</h2>
<!--/*@thymesVar id="worker" type="com.model.Worker"*/-->
<form th:object="${worker}" class="form-horizontal" id="add-worker-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}" />

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${worker['new']} ? 'Add Worker' : 'Update Worker'"
                    class="btn btn-default"  type="submit" th:text="${text}">Add
                Worker</button>
        </div>
    </div>
</form>
</body>
</html>
